<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.method76.comics.marvel"
    >

    <!--android:theme="@style/AppTheme"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.method76.common.base.BaseApplication"
        >
        <meta-data
            android:name="com.method76.common.service.GlideSetting"
            android:value="GlideModule" />
        <!--스플래시 -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CharChooseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="screenSize|orientation"
            >
        </activity>

        <activity
            android:name="com.method76.comics.marvel.BoardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|orientation"
            />

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

</manifest>
